.contact {
    &__head {
        width: 100%;
        color: #FFF;
        background-color: #48cbe8;
        border-bottom: 15px solid #67dffa;
        padding: 40px 58px;
    }
}

.form {
//    padding: 25px 65px;
    box-sizing: border-box;
    &__group {
        display: inline-block;
        margin-top: 10px;

        &_sm {
            width: 48%;
            box-sizing: border-box;
            margin-right: 12px;

            &:nth-child(2n) {
                margin-right: 0;
            }
        }
        &_lg {
            width: 100%;
        }
    }
    &__label {
        display: block;
        color: #959aa8;
        font-size: 19px;
        font-family: fira_sanslight, sans-serif;
        line-height: 30px;
    }
    &__input {
        display: block;
        width: 100%;
        box-sizing: border-box;
        height: 40px;
        border: 1px solid #48cbe8;
        border-radius: 4px;
        padding: 5px 10px;

            &_textarea {
                width: 100%;
                box-sizing: border-box;
                height: 183px;
                max-width: 100%;
            }
    }
    &__btn {

        &_blue {
            background-color: #48cbe8;
            border-bottom: 2px solid #3ba8c0;
            margin-right: 116px;
        }
        &_grey {
            background-color: #849db5;
            border-bottom: 2px solid #687b8f;
        }
    }
}

.g-recaptcha {
    margin: 20px 25px 30px 0;
}