.contact {
    &__head {
        width: 100%;
        color: #FFF;
        background-color: #48cbe8;
        border-bottom: 15px solid #67dffa;
        padding: 43px 58px;
    }
}


.g-recaptcha {
    margin: 20px 25px 30px 0;
}


