.pop-up {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    &_login {
        background-color: transparent;
    }
    &__overlay {
        background-color: rgba(88, 105, 122, 0.76);
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
}

.window-pop {
    border-radius: 4px;
    background-color: #eff3f7;
    box-shadow: 0 6px 12px 1px rgba(13,16,7,.35);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);

    &_gallery {

    }

    &__head {
        width: 100%;
        color: #FFF;
        border-bottom: 9px solid #67dffa;
        padding: 4px 12px 0;
        overflow: hidden;
        border-radius: 4px 4px 0 0;
        background-color: #48cbe8;
        box-sizing: border-box;
        position: relative;

        &_login {
            border-bottom: 14px solid #67dffa;
        }

    }
    &__close {
        background: url(../img/icons/modal_close_icon.png) no-repeat;
        width: 26px;
        height: 25px;
        position: absolute;
        top: 10px;
        right: 12px;
        cursor: pointer;
    }
}
.success {
    padding: 20px;
    width: 320px;

    &__content {
        color: #49bb7b;
        background-color: rgba(73, 187, 123, 0.34);
        border: 1px solid #49bb7b;
        border-radius: 4px;
        padding: 0 10px;
        position: relative;
    }
    &__icon {
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 5px;
        background: url(../img/icons/close_icons.png) 0px -18px no-repeat;
        width: 10px;
        height: 10px;
    }
    &__text {
        line-height: 15px;
        margin-bottom: 6px;
    }
}


.gallery {
    padding: 30px;
    box-sizing: border-box;

    &__img {
        max-height: 70vh;
    }
}