* {
    margin: 0;
    border: none;

}
.wrapper {
    position: relative;
    min-height: 100%;
    height: auto!important;
    overflow: hidden;

    &:after {
        content: "";
        display: block;
        height: 80px;
    }

}

html {
    height: 100%;
}

body {
    background: url("../img/comppattern2.png");
    font-family: 'fira_sanslight', sans-serif;
    font-size: 15px;
    color: #4a545d;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

a {
   text-decoration: none;
    color: #959aa8;
    &:hover {
        color: #3ba8c0;

    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'fira_sansbook', sans-serif;
}

.head {
    &_l {
        font-size: 27px;
        color: #3ba8c0;
        padding: 12px 22px;
        border-bottom: 2px solid #3ba8c0;
        box-sizing: border-box;
        display: inline-block;
        margin: 0;
        font-weight: 100;
    }
    &_m {
        font-size: 25px;
        box-sizing: border-box;
        font-weight: 100;
    }
    &_sm {
        font-size: 17px;
        box-sizing: border-box;
        font-weight: 100;
    }
}


p {
    font-family: 'fira_sanslight', sans-serif;
    font-size: 15px;
}

.link {
    font-family: 'fira_sanslight_italic', sans-serif;
    font-size: 13px;
    color: #3ba8c0;
    transition: all .3s;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

dl {
    margin: 6px 0 5px;
}
dt {
    font-family: 'fira_sansmedium', sans-serif;
    font-size: 17px;
    float: left;
    word-break: break-all
}

dd{
    font-family: 'fira_sansbook', sans-serif;
    font-size: 17px;
    float: left;
    margin-left: 18px;
    max-width: 210px;
    word-break: break-all
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
li {
    list-style: none;
    display: inline-block;
}

.clearfix {
    zoom: 1;

    &:before {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
        content: "";
        display: table;
    }
}

.btn {
    border-radius: 5px;
    padding: 0 22px;
    color: #FFFFFF;
    font-size: 19px;
    font-family: fira_sansbook, sans-serif;
    border-style: solid;
    border-top-width: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-width: 2px;
    width: 140px;
    transition: all .3s;
    vertical-align: top;

    &_blue {
        background-color: #48cbe8;
        border-color: #3ba8c0;
    }
    &_grey {
        background-color: #849db5;
        border-color: #687b8f;
    }
    &_margin-right {
        margin-right: 115px;
    }
    &_center {
        margin-left: auto;
        margin-right: auto;
        display: inherit;
    }
    &-box {
        padding-top: 15px;
        padding-bottom: 20px;
    }

    &:hover {
        border-bottom-width: 0;
        margin-top: 2px;
    }
    &:active {
        border-top-width: 2px;
        margin-top: 2px;
        margin-bottom: -2px;
        border-bottom-width: 0;
    }
    &_big {
        padding: 0 61px;
        font-size: 36px;
        width: auto;
        line-height: 54px;
    }
}

.form {
    box-sizing: border-box;

    &__group {
        display: inline-block;
        margin-top: 10px;
        position: relative;

        &_sm {
            width: 48%;
            box-sizing: border-box;
            margin-right: 11px;

            &:nth-child(2n) {
                margin-right: 0;
            }
            &_margin-right-0 {
                margin-right: 0;
            }
        }
        &_lg {
            width: 100%;
            box-sizing: border-box;
        }
        &_pop {
            width: 100%;
            display: inline-block;
            padding: 1px 22px 2px 20px;
            margin: 0;
            position: relative;
            box-sizing: border-box;
        }
    }
    &-top5 {
        margin-top: 5px;
    }
    &__label {
        display: block;
        color: #959aa8;
        font-size: 19px;
        font-family: fira_sanslight, sans-serif;
        line-height: 30px;

        &_sm {
            font-size: 17px;
        }
        &_lg {
            font-size: 36px;
        }
    }
    &__input {
        display: block;
        width: 100%;
        box-sizing: border-box;
        height: 41px;
        border: 1px solid #48cbe8;
        border-radius: 4px;
        padding: 8px 9px;
        font-size: 13px;
        transition: all .3s;
        font-family: fira_sanslight, sans-serif;
        line-height: 30px;
        color: #48cbe8;

        &_with-icon {
            width: 84%;
            border-right: none;
            border-radius: 4px 0 0 4px;
            float: left;
        }

        &_lg {
            font-size: 17px;
            margin: 15px 0;
            height: 62px;
            padding: 0 18px;
        }

        &_textarea {
            width: 100%;
            box-sizing: border-box;
            height: 183px;
            max-width: 100%;

            &_sm {
                height: 111px;
            }
        }
    }
    &__input-group {
        display: block;
        width: 100%;
        &_file {
            opacity: 0;
            width: 87%;
            height: 41px;
            position: absolute;
            top: 32px;
            left: 21px;
            box-sizing: border-box;
        }
    }

    &__input-icon {
        display: block;
        width: 16%;
        height: 41px;
        position: relative;
        border-radius: 0 4px 4px 0;
        float: left;

        &_load {
            background: url(../img/icons/load.png) center no-repeat #48cbe8;

        }
    }
}


:-moz-placeholder {color: #48cbe8;}
:-ms-input-placeholder {color: #48cbe8;}
::-moz-placeholder {color: #48cbe8;}
::-webkit-input-placeholder {color: #48cbe8;}

input, textarea, button {
    outline: none;
}

.hidden {
    visibility: hidden;
}

.error {
    background-color: rgba(249, 126, 118, 0.34);
    border-color: #f97e76;
}

.tooltip {
    color: #FFF;
    background-color: #f97e76;
    font-family: fira_sansbook,sans-serif;
    font-size: 12px;
    border-radius: 3px;
    display: none;
    position: absolute;
    padding: 3px 17px;
    top: 53%;

    &_left-8 {
        left: -8px;
        transform: translateX(-100%);

        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            top: 0;
            right: -8px;
            margin-top: 8px;
            border-width: 5px 0 5px 8px;
            border-left-color: #f97e76;
        }
    }
    &_left13 {
        left: 13px;
        transform: translateX(-100%);

        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            border-bottom-color: transparent;
            border-right-color: transparent;
            border-top-color: transparent;
            border-style: solid;
            top: 0;
            right: -8px;
            margin-top: 8px;
            border-width: 5px 0 5px 8px;
            border-left-color: #f97e76;
        }
    }
    &_right {
        right: -8px;
        transform: translateX(100%);
        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            top: 0;
            left: -8px;
            margin-top: 8px;
            border-width: 5px 8px 5px 0;
            border-right-color: #f97e76;
        }
    }
    &_left-big {
        left: -8px;
        transform: translateX(-100%);
        font-size: 14px;
        top: 51%;
        padding: 4px 17px;

        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            top: 0;
            right: -8px;
            margin-top: 8px;
            border-width: 5px 0 5px 8px;
            border-left-color: #f97e76;
        }
    }

    &__arrow {
        position: absolute;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
    }
}


